p {
    font-size: 19px;
    width: 400px;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: violet;
}

.cuadro{
    border:2px solid red;
    width: max-content;
}

footer{
    border: 10px solid blue;
    width: max-content;
    padding: 10px;
    margin-top:20px;
}