p {
    font-size: 19px;
    width: 400px;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: violet;
}

.cuadro{
    border:5px solid red;
    width: 500px;
    padding:10px;
}

.header{
    border:5px solid yellow;
    width: 500px;
    margin-bottom: 10px;
    padding: 10px;
}

footer{
    border: 5px solid blue;
    width: 500px;
    padding:10px;
    margin-top:10px;
}